doctype html
html(lang="ja")
  head
    if title
      title= title + " | お知らせLINE通知登録"
    else
      title お知らせLINE通知登録
    meta(name="viewport", content="width=device-width,initial-scale=1.0")
    link(rel="stylesheet", href="./assets/light.min.css")
    block head
  body
    block content