doctype html
html(lang="ja")
  head
    if title
      title= title + " | 前期課程お知らせLINE通知登録"
    else
      title 前期課程お知らせLINE通知登録
    meta(name="viewport", content="width=device-width,initial-scale=1.0")
    link(rel="icon" href="favicon.svg" type="image/svg+xml")
    link(rel="stylesheet", href="./assets/light.min.css")
    block head
  body
    block content