// LINEシェア
.line-it-button(data-lang="ja" data-type="share-a" data-env="REAL" data-url="https://ut-notify.svrs.jp/" data-color="default" data-size="large" data-count="false" data-ver="3" style="display: none;")
script(src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js", async=true, defer=true)