a.twitter-share-button(href="https://twitter.com/share?ref_src=twsrc%5Etfw", data-text="教養学部前期課程HPのお知らせをLINE通知", data-size="large", data-url="https://ut-notify.svrs.jp/", data-hashtags="UTNotify", data-show-count="false") Tweet
script(async, src="https://platform.twitter.com/widgets.js" charset="utf-8")