doctype html
html
  head
    title= title + "| お知らせLINE通知登録"
    meta(name="viewport", content="width=device-width,initial-scale=1.0")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css")
  body
    h1= title
    p= message